
<h2 style="text-align: center">Search Report</h2>

<div class="form-inline">
<form action="/search_report/show" method="post">
<div style="margin-top:50px;" class="form-inline offset3">
	<%= select_tag "domain_id", options_from_collection_for_select(@domains, 'id', 'name') %>
	<input type="text" name="start_date" id="start_date" class="input-small" placeholder="start_date">
	<input type="text" name="end_date" id="end_date" class="input-small" placeholder="end_date">
	<button id="report_btn" type="buttom" class="btn">确定</button>
</div>
</form>

<div id="chart" style="margin-top: 60px">
	<%= high_chart("my_id4", @chart)  %>
</div>

