
<h2 style="text-align: center">Position Report</h2>

<div class="form-inline">
<form action="/position_report/show" method="post">
<div style="margin-top:50px;" class="form-inline offset3">
	<%= select_tag "domain_id", options_from_collection_for_select(@domains, 'id', 'name') %>
	<input type="text" name="date" id="date" class="input-small" placeholder="date">
	<button id="report_btn" type="buttom" class="btn">确定</button>
</div>
</form>
<div style="margin-top: 60px">
	<%= high_chart("my_id4", @chart)  %>
</div>

<div style="margin-top: 60px">
	<%= high_chart("my_id5", @pie_chart) unless @pie_chart.blank? %>
</div>
